name: Create Release

on:
  push:
    branches:
      - 'master'
      - '*/master'
      - 'demo'
      - '*/demo'

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Get current branch name
        id: branch
        run: echo "::set-output name=branch::${GITHUB_REF##*/}"

      - name: Get how many release today
        id: number_of_release_today
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: | 
            const script = require(`${process.env.GITHUB_WORKSPACE}/actions/howManyRelease.js`)
            return script()

      - name: Set a body from a comment of pull request.
        id: set_body
        uses: actions/github-script@v3
        with: 
          result-encoding: string
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/actions/setAbodyFromACommentOfPullRequest.js`)
            return script({context, github})
            
      - name: Create draft release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.date.outputs.date}}_${{ steps.number_of_release_today.outputs.result}}_release_${{ steps.branch.outputs.branch }}
          release_name:  ${{ steps.date.outputs.date}}_${{ steps.number_of_release_today.outputs.result}}_release_${{ steps.branch.outputs.branch }}
          body: |
            ${{ steps.set_body.outputs.result}}
            
          draft: true
          prerelease: false
