on:
  push:
    branches:
      - master

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Set current branch name
        id: branch
        run: echo "::set-output name=branch::${{ github.head_ref }}"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.date.outputs.date}}_1_release_${{ steps.branch.outputs.branch }}
          release_name:  ${{ steps.date.outputs.date}}f
          body: |
            Changes in this Release
            - First Change
            - Second Change
            ${{ steps.branch.outputs.branch }}
            
          draft: false
          prerelease: false
