name: Create Release

on:
  push:
    branches:
      - '**/master'
      - '**/demo'

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set how many deployments today
        id: number_of_deploy_today
        # FIX_ME: 本日何度目のdeployか。条件が難しい
        run: echo "::set-output name=number_of_deploy_today::0"

      - name: Set current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Set current branch name
        id: branch
        run: echo "::set-output name=branch::${GITHUB_REF##*/}"

      - name: Set a body from a comment of pull request.
        id: set_body
        uses: actions/github-script@v3
        with: 
          result-encoding: string
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { commits } = context.payload;
            // プルリク番号を取得するためにマージコミットを取得
            const mergeCommit = commits.find((object) => object.message.includes('Merge pull request'))
            if(!mergeCommit) {
              console.error('merge commitが存在しません。手動でリリースを作成して下さい。')
            }
            console.log(mergeCommit)
            const pull_number = mergeCommit.message.split(' ')[3].slice(1)
            console.log(pull_number)

            const { owner, repo } = context.repo
            // マージしたプルリクのコメントを取得
            const commentList = await github.issues.listComments({
              owner,
              repo,
              issue_number: pull_number
            })
            console.log(commentList)
            // change logが載っているコメントのidを取得
            const { id } = commentList.data.find((object) => object.body.includes("## Change Log"))
            if(!id) {
              console.error('change logが取得できていません。')
            }
            const commentParams = await github.issues.getComment({
              owner,
              repo,
              comment_id: id
            })
            console.log(commentParams.data.body)

            return commentParams.data.body
            
      - name: Create draft release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.date.outputs.date}}_${{ steps.number_of_deploy_today.outputs.number_of_deploy_today}}_release_${{ steps.branch.outputs.branch }}
          release_name:  ${{ steps.date.outputs.date}}_${{ steps.number_of_deploy_today.outputs.number_of_deploy_today}}_release_${{ steps.branch.outputs.branch }}
          body: |
            ${{ steps.set_body.outputs.result}}
            
          draft: true
          prerelease: false
