name: Put logs on a body of release pull request

on:
  pull_request:
    branches: 
      - '**/master'
      - '**/demo'

jobs:
  build:
    name: Put logs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get all tags
        id: tag
        uses: actions/github-script@v3
        with:
          result-encoding: string
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: | 
            const { owner, repo } = await context.repo
            console.log(owner)
            console.log(repo)
            const test = await github.repos.listRelease({
              owner,
              repo,
            })
            console.log(test)
            console.log('done')