on:
  push:
    branches:
      - master

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Current date
        id: date
        run: date

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name:  ${{ steps.date.outputs}}_0_release_${{ github.ref }}
          # release_name:  ${{ steps.date.outputs.date}}_0_release_${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
            ${{github.ref}}
          draft: false
          prerelease: false
