name: Put logs on a body of release pull request

on:
  pull_request:
    branches: 
      - '**/master'
      - '**/demo'

jobs:
  build:
    name: Put logs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get branch name
        id: branch
        uses: actions/github-script@v3
        with:
          result-encoding: string
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: | 
            const ref = await context.payload.pull_request.base;
            console.log(ref)
            return ref
          
      - name: Get related tags
        id: tag
        uses: actions/github-script@v3
        with:
          result-encoding: string
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: | 
            const { owner, repo } = await context.repo
            const { data } = await github.repos.listReleases({
              owner,
              repo,
            })
            const branchName = 'master'
            const sortedReleaseList = 
              data
                .filter((object) => !object.draft && object.name.includes(branchName))
                .sort((a, b) => {
                  return Date.parse(a.published_at) + Date.parse(b.published_at)
                })
            console.log(sortedReleaseList)
            return sortedReleaseList